@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100;
    src: url("fonts/Montserrat-Thin.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 200;
    src: url("fonts/Montserrat-ExtraLight.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    src: url("fonts/Montserrat-Light.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Montserrat-Regular.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("fonts/Montserrat-Medium.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url("fonts/Montserrat-SemiBold.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/Montserrat-Bold.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/Montserrat-ExtraBold.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 900;
    src: url("fonts/Montserrat-Black.ttf") format("ttf");
  }
  
  * {
    font-family: "Montserrat", sans-serif !important;
 
  }