body 
{
    margin: 0;
    color: white;
    font-family: "Montserrat", sans-serif !important;
}
.thank-you 
{
    background: linear-gradient(107.62deg, rgba(5, 0, 255, 0.68) -0.41%, rgba(0, 0, 0, 0) 80.4%), linear-gradient(163.46deg, rgba(0, 255, 102, 0) 58.95%, #0AB5FF 88.55%), rgba(0, 0, 0, 0.32);
    height: 100vh;
}
.logo
{
    display: flex;
    padding: 3%;
    align-items: center;
}
.logo p 
{
    margin-left: 5px;
}
.content 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    text-align: center;
}
.content button
{
    background: #FFFFFF;
    border-radius: 12px;
    padding: 10px 40px;
    border: none;
    font-weight: 600;
}
.content button:hover 
{
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    .content h1 
    {
        padding-top: 60%;
    }
}