* {
    font-family: Montserrat, sans-serif;
}
h2 {
    font-weight: 900 !important;
    font-size: 42px !important;
    line-height: 120% !important;
    text-transform: uppercase;
}
h3 {
    font-size: 32px !important;
    line-height: 120% !important;
    font-weight: 700 !important;
}
h4 {
    font-size: 24px !important;
    line-height: 120% !important;
}
p {
    font-size: 18px !important;
    line-height: 120% !important;
}
.hero {
    background: url(images/hero.png);
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 5%;
    background-size: 100% 100%;
}
.hero h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}
.hero h2 {
    padding-top: 3%;
}
.hero h3 {
    margin: 2% 0%;
}
.hero h4 {
    font-weight: 600;
}
.hero p {
    color: #606060;
    padding: 3% 0%;
}
/* arijana */
.arijana-video {
    background: linear-gradient(270.08deg, #eff1f4 3.41%, #ffffff 107.66%);
    box-shadow: 0px 26px 64px rgba(0, 0, 0, 0.27);
    border-radius: 32px;
    margin: -5% auto 5% auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5% 10%;
}
.arijana-video h2 {
    color: #0a0a0a;
    text-align: center;
}
.arijana-video h4 {
    margin-top: 3%;
}
.arijana-video img 
{
    max-width: 100%;
    height: auto;
    transition: transform .2s
}
.arijana-video img:hover 
{
    transform: scale(0.98);
}

.what-you-get {
    padding: 3% 0%;
}
.what-you-get p {
    margin: 0;
}
.mentor-title {
    color: #0a0a0a;
    margin-top: 5%;
}
.mentor-wrapper {
    display: flex;
    align-items: flex-start;
    margin: 5% 0%;
}
.mentor-wrapper img {
    max-width: 100%;
    height: auto;
    padding-right: 3%;
}
.mentor-wrapper a {
    background: linear-gradient(232.45deg, #014497 -17.71%, #008183 133.24%);
    border-radius: 10px;
    padding: 12px 42px;
    color: white;
    font-weight: 700;
    margin-left: 30px;
}
.fast-track-student-card-wrapper {
    background: url(images/testemonial-bg.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 2% 0%;
    margin: 3% 0%;
}
.calendly {
    display: flex;
    margin-top: 5%;
    align-items: center;
}

.call {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5% 0%;
}
.call a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 991px) {
    .hero {
        background: url(images/hero.png);
        background-size: cover;
        padding: 5% 0%;
    }
    h2 {
        font-size: 24px !important;
    }
    h3 {
        font-size: 20px !important;
    }
    h4 {
        font-size: 16px !important;
    }
    p {
        font-size: 14px !important;
    }
    .hero h1 {
        font-size: 16px !important;
    }
    .hero h2 {
        padding-top: 3%;
    }

    .hero p {
        padding: 3% 0%;
    }

    .arijana-video {
        padding: 5%;
    }
    .mentor-wrapper {
        display: flex;
        align-items: flex-start;
        margin: 10% 0%;
    }
    .mentor-wrapper img {
        width: 50%;
    }
    .calendly {
        display: flex;
        margin-top: 5%;
        flex-direction: column;
        align-items: flex-end;
    }
    .calendly p {
        padding-bottom: 40px;
    }
    .mentor-wrapper a {
        background: linear-gradient(232.45deg, #ef5da8 -17.71%, #ff8800 133.24%);
        border-radius: 10px;
        padding: 12px 42px;
        color: white;
        font-weight: 700;
        margin-left: 30px;
    }

    .call {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5% 0%;
        flex-direction: column;
    }

}